node_modules/
dist/
.DS_Store
assets/
default_shadcn_theme.css
guidelines/
merch_category_section.txt
src/assets/
src/app/components/
src/app/contexts/
src/app/pages/
src/app/utils/
src/imports/*
!src/imports/new-york-jets-logo-0.png
src/styles/fonts.css
src/styles/globals.css
src/styles/tailwind.css
src/styles/theme.css
